body {
  background-color: rgb(244, 244, 244);
}

.bowling-logo {
  width: 50vw;
  filter: drop-shadow(15px 30px 20px rgba(118, 116, 116, 0.483));
  
}

.equipment-image {
  max-width: 60vw;
}

a {
  font-size: small;
  color: rgb(228, 111, 2);
}

.card {
  min-height: 48vh;
}

.event-image {
  box-shadow: inset 0 0 3em white;
  border-radius: 0.5em;
}
